{% comment %}

  This snippet is used to showcase each collection during the loop,
  'for product in collection.products' in list-collections.liquid.

{% endcomment %}

<div class="grid-item medium--one-half large--one-third text-center">

  {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
  {% capture collection_description %}{{ collection.description | escape }}{% endcapture %}
  <div class="collection-promo">
    <a href="{{ collection.url }}" title="Browse our {{ collection_title }} collection">
      <div class="collection-text">
        <div class="title-small">{{ collection_title }}</div>
        <p>{{ collection_description }}</p>
      </div>
      {% if collection.image %}
        {{ collection.image.src | collection_img_url: 'large' | img_tag: collection_title }}
      {% else %}
        {{ collection.products.first.featured_image | product_img_url: 'large' | img_tag: collection_title }}
      {% endif %}
    </a>
  </div>

</div>