<footer class="site-footer text-center" role="contentinfo">

  <div class="wrapper">


    <div class="grid-item follow-content">
      <h5>Follow us if you must</h5>
      <div class="social">
        {% include 'newsletter-form' %}
        <div class="twitter-button">
          <a href="https://twitter.com/MonsterSupplies" class="twitter-follow-button" data-show-count="false">Follow @MonsterSupplies</a>
        </div>
      </div>
    </div>
  </div>
  
  <hr>

  <p>Tragically we cannot beans (magic or otherwise), and no longer accept human sacrifice.</p>
  <p>However we do take the following payment methods via Paypal:
  <ul class="inline-list payment-icons text-center">
    <li>
      <img src="{{ "mastercard.png" | asset_url }}" />
    </li>
    <li>
      <img src="{{ "visa.png" | asset_url }}" />
    </li>
    <li>
      <img src="{{ "maestro.png" | asset_url }}" />
    </li>
    <li>
      <img src="{{ "amex.png" | asset_url }}" />
    </li>
    <li>
      <img src="{{ "discover.png" | asset_url }}" />
    </li>
    <li>
      <img src="{{ "solo.png" | asset_url }}" />
    </li>
    <li>
      <img src="{{ "trans.png" | asset_url }}" />
    </li>
  </ul>
  <p>Monster Supplies is an operating name for the Ministry of Stories, Company No. 07317370, Registered Charity No. 1138553, VAT no 169 9531 56</p>

  <div class="footer-links">
    <ul class="inline-list text-center">
      {% for link in linklists.footer.links %}
      <li class="nav-item">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>


</footer>