{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% if collection %}
  {% assign product_url = product.url | within: collection %}
{% else %}
  {% assign product_url = product.url %}

  {% for collection in product.collections %}
    {% if forloop.first %}
      {% assign product_url = '/collections/' | append: collection.handle | append: product.url %}
    {% endif %}
  {% endfor %}

{% endif %}

{% assign has_rollover = product.metafields.custom_fields.has_rollover %}
{% if has_rollover == "true" %}
  {% assign thumbnail_url = product.images[1].src | product_img_url: 'grande' %}
{% endif %}

<div class="grid-item no-bottom-margin product-grid-item large--one-quarter medium--one-half small--one-half{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">

  <a href="{{ product_url }}" class="product-grid-image">
    <img class="{% if has_rollover == "true" %}js-image-rollover{% endif %}" src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" {% if has_rollover == "true" %}data-rollover-url="{{ thumbnail_url }}"{% endif %}>
    
    {% if sold_out %}
      <div class="stripe-holder"><div class="stripe secondary-font">Sold Out</div></div>
    {% endif %}
  </a>
  <div class="product-grid-detail">
    <a class="product-title" href="{{ product_url }}">{{ product.title }}</a>
    <p>
       <span>
       {% if product.price_varies %}From{% endif %}
        {{ product.price | money }}
      </span>
    </p>
  </div>

</div>