<main class="wrapper main-content blog-content" role="main">

  <div class="grid">

    <div class="grid-item large--two-thirds push--large--one-sixth">

      <header class="page-header">
        <h6>
          <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
            {{ article.published_at | date: '%b %d, %Y' }}
          </time>
        </h6>
        <h2>{{ article.title }}</h2>
      </header>

      <div class="side-padding">
        <div class="rte">
          {{ article.content }}
        </div>

        {% comment %}
          Show off meta information like comments and tags.
        {% endcomment %}
        <ul>

          {% include 'tags-article' %}

        </ul>

        {% comment %}
          Create links to the next and previous articles, if available.
        {% endcomment %}

        {% if blog.next_article or blog.previous_article %}
          <hr>

          {% comment %}
            If you only have elements floated in a container, you can use the
            .clearfix class to force the parent to maintain its structure.
          {% endcomment %}
          <p class="clearfix">
            {% if blog.previous_article %}
              <span class="left">
                {{ '&larr; Older Post' | link_to: blog.previous_article }}
              </span>
            {% endif %}
            {% if blog.next_article %}
              <span class="right">
                {{ 'Newer Post &rarr;' | link_to: blog.next_article }}
              </span>
            {% endif %}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</main>