<main class="wrapper main-content no-bottom-padding" role="main">

  <div class="full-width">
    <header class="page-header">
      <h2>Casket</h2>
    </header>
  </div>

  {% if cart.item_count > 0 %}
    <form action="/cart" id="cartForm" class="no-bottom-margin" method="post">

      <div class="full-width basket-summary">
        <p>Here are the items you have selected so far. Please note, magic beans are no longer accepted as payment, and we currently deliver to the UK only.</p>
        <input type="submit" name="checkout" class="btn" value="Proceed to checkout">
      </div>

      <div class="basket-contents">

        {% for item in cart.items %}
          {% unless item.product.type == 'curse' %}
            <div class="cart-row indented-row js-product-row">
              <div class="grid-uniform product-detail-item side-padding">

                <div class="grid-item large--one-quarter medium-down--one-third">                
                      <a href="{{ item.product.url | within: collections.all }}">

                        <img src="{{ item.product.featured_image.src | product_img_url: 'medium' }}" alt="{{ item.title | escape }}">
                      </a>
                </div>

                <div class="grid-item large--three-quarters medium-down--two-thirds">
                  <div class="grid-uniform">

                    <div class="grid-item three-fifths">
                      <h5 class="product-title">
                        <a href="{{ item.product.url }}">
                          {{ item.product.title }}

                          {% if item.product.variants.size != 0 %}
                            {% unless item.variant.title contains 'Default' %}
                              <br>
                               <small>{{ item.variant.title }}</small>
                            {% endunless %}
                          {% endif %}
                        </a>
                      </h5>
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn--grey" data-id="{{ item.id }}"><span class="close-button-white">&nbsp;</span>Remove</a>
                    </div>
                    <div class="grid-item one-fifth quantity-adjust">
                      {% comment %}
                        Added data-id for the ajax cart implementation only.
                      {% endcomment %}
                      <span class="arrow arrow-up"></span>
                      <input type="text" name="updates[]" id="updates_{{ item.id }}" class="no-border-number quantity-input" value="{{ item.quantity }}" autocomplete="off" min="0" data-id="{{ item.id }}" data-cost="{{ item.price }}">
                      <span class="arrow arrow-down"></span>
                    </div>

                    <div class="grid-item one-fifth">
                      <h5 class="product-cost">{{ item.price | money  | remove: '.00'}}</h5>
                    </div>

                  </div>
                </div>

              </div>
            </div> <!-- end cart-row //-->
          {% endunless %}
        {% endfor %}
      </div>

      <div class="grid-uniform">
        
        <div class="grid-item cart-row basket-add-curse grey-border-bottom">
          <div class="grid-item large--one-half">
            <h3>Add a curse to your order</h3>
            <p>Your purchase can be cursed by our resident coven of witches. A perfect surprise for that special monster in your life. All cursed products come with an official authentication certificate.</p>
            <p>Curses provide a donation to the <a href="http://www.ministryofstories.org" class="js-mos-info">Ministry of Stories</a>, a creative writing and mentoring charity for young humans.</p>
          </div>
          <div class="grid-item large--one-half curse-options-container">
            <div class="grid-uniform">
              <div class="grid-item large--three-fifths medium--one-half">
                <ul class="curse-options">
                  {% assign total_curse_cost = 0 %}
                  {% assign curses = collections.curses.products | sort: 'price' %}
                  {% for product in curses %}
                    {% assign variant = product.selected_or_first_available_variant %}
                    {% assign selected = false %}
                    {% for item in cart.items %}
                      {% if item.product.id == product.id %}
                        {% assign selected = true %}
                      {% endif %}
                    {% endfor %}
                    {% if selected == true %}
                      {% assign total_curse_cost = total_curse_cost | plus: product.price %}
                    {% endif %}
                    <li><input {% if selected %} checked="checked"{% endif %} type="checkbox" id="cb{{ forloop.index }}" value="{{ product.title | handleize }}" /><label for="cb{{ forloop.index }}" data-id="{{ variant.id }}" data-cost="{{ variant.price }}" class="checkbox-label">{{ product.title }} - {{ variant.price | money | remove: '.00' }}</label></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="grid-item large--two-fifths medium--one-half">
                <h5 class="product-cost">{{ total_curse_cost | money | remove: '.00' }}</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-item cart-row no-bottom-margin">
          <div class="grid-item large--one-half">
            <h3>Delivery cost</h3>
            <p>Our zombie volunteers pack and send orders every Saturday by 1st Class Royal Mail. A little slower than you might have expected, perhaps, but an excellent service. Free UK delivery on all orders over £50. <a href="#" class="js-delivery-info">Delivery and returns information.</a></p>
            <p>Alternatively, choose to collect in our Hoxton Street store for free!</p>
          </div>
          <div class="grid-item large--one-half delivery-options-holder no-bottom-margin">
            <div class="grid-uniform">
              <div class="grid-item large--three-fifths medium--one-half delivery-options">
                <select name="postage-options" class="js-select">
                  <option value="home">Deliver to an address</option>
                  <option value="shop">Collect in store</option>
                </select>
              </div>
              <div class="grid-item large--two-fifths medium--one-half delivery-cost-amount">
                <h5 class="delivery-cost">£0</h5>
              </div>

              <div class="grid-item product-gift-summary">
                <input type="checkbox" id="gift" value="gift" /><label for="gift" class="checkbox-label">This is a gift</label>
                <div class="grey-border-bottom">
                  <p>If you're sending your order directly to the recipient, we won't include the invoice.</p>
                </div>
                <div class="basket-total">
                  <h5 class="basket-total-label">Total</h5><div class="basket-total-amount">{{ cart.total_price | money }}</div>
                </div>

                {% comment %}
                  name="update" is required for the update button to work
                
                <!--<input type="submit" name="update" class="btn-secondary" value="Update basket">-->
                {% endcomment %}
                {% comment %}
                  name="checkout" is required for the update button to work
                {% endcomment %}
                <input type="submit" name="checkout" class="btn" value="proceed to checkout">

                {% comment %}
                  Paypal and Google checkout buttons
                {% endcomment %}
                {% if additional_checkout_buttons %}
                  <p>{{ content_for_additional_checkout_buttons }}</p>
                {% endif %}

              </div>
            </div>
        </div>

      </div>
    </form>

    <div class="grid-item no-bottom-margin">
      <div class="delivery-promo delivery-promo-small secondary-font grid-item no-bottom-margin">
        <p>Free UK delivery on orders over &pound;50</p>
      </div>
    </div>

    {% capture index %}{{ 'now' | date: '%S' | times: collections.extra.products.size | divided_by: 60 }}{% endcapture %}

    <div class="grid-item no-bottom-margin">
      {% for product in collections.extra.products offset:index limit:1 %}
      {% assign variant = product.selected_or_first_available_variant %}
        {% for collection in product.collections %}
          {% unless collection.handle = "extra" %}
            {% assign product_url = '/collections/' | append: collection.handle | append: product.url %}
          {% endunless %}
        {% endfor %}
      <div class="extra-product">
        <div class="cart-row indented-row">
          <div class="grid-uniform product-detail-item">

            <div class="grid-item large--one-quarter medium-down--one-third">                
              <a href="{{ product_url }}">

                <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" naptha_cursor="text">
              </a>
            </div>
            <div class="grid-item large--three-quarters medium-down--two-thirds">
              <h4>Why not add a little treat for yourself?</h4>
              <h5 class="product-title">
                {{ product.title }}
              </h5>
              <h5 class="product-cost">{{ variant.price | money }}</h5>
              <form action="/cart/add" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" id="id" value="{{ variant.id }}">
                <input type="hidden" id="quantity" name="quantity" value="1">
                <button class="btn" type="submit">Add to casket</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </form>

  {% else %}

    {% comment %}
      It's likely people won't have items in the cart sometimes.
      Do something fun here, it's a great chance to show your company's human side.
    {% endcomment %}
    <div class="full-width text-center">
      <h4>Your casket is empty</h4>
      <p><a href="/collections/all">Continue to prowl here.</a></p>
    </div>

  {% endif %}

</main>

<div class="full-width">
  <div class="mos-promo">
    <p>Due to a rather inconvenient curse, all profits go to the <a href="http://www.ministryofstories.org" class="js-mos-info">Ministry of Stories</a>, a creative writing and mentoring charity for young humans</p>
  </div>
</div>