<main class="wrapper main-content" role="main">

  <div class="full-width">
    <header class="page-header">
      <h2>Basket</h2>
    </header>
  </div>

  {% if cart.item_count > 0 %}
    <form action="/cart" method="post">

      <div class="full-width basket-summary">
        <p>Here are the items you have selected so far. Please note, magic beans are no longer accepted as payment.</p>
        <input type="submit" name="checkout" class="btn" value="Proceed to checkout">
      </div>

      <div class="basket-contents">

        {% for item in cart.items %}
        <div class="cart-row indented-row">
          <div class="grid-uniform product-detail-item">

            <div class="grid-item large--one-quarter medium-down--one-third">                
                  <a href="{{ item.product.url | within: collections.all }}">

                    <img src="{{ item.product.featured_image.src | product_img_url: 'medium' }}" alt="{{ item.title | escape }}">
                  </a>
            </div>

            <div class="grid-item large--three-quarters medium-down--two-thirds">
              <div class="grid-uniform">

                <div class="grid-item three-fifths">
                  <h5 class="product-title">
                    <a href="{{ item.product.url }}">
                      {{ item.product.title }}

                      {% if item.product.variants.size != 0 %}
                        {% unless item.variant.title contains 'Default' %}
                          <br>
                           <small>{{ item.variant.title }}</small>
                        {% endunless %}
                      {% endif %}
                    </a>
                  </h5>
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn--grey" data-id="{{ item.id }}"><span class="close-button-white">&nbsp;</span>Remove</a>
                </div>
                <div class="grid-item one-fifth quantity-adjust">
                  {% comment %}
                    Added data-id for the ajax cart implementation only.
                  {% endcomment %}
                  <span class="arrow arrow-up"></span>
                  <input type="text" name="updates[]" id="updates_{{ item.id }}" class="no-border-number quantity-input" value="{{ item.quantity }}" autocomplete="off" min="0" data-id="{{ item.id }}">
                  <span class="arrow arrow-down"></span>
                </div>

                <div class="grid-item one-fifth">
                  <h5 class="product-cost">{{ item.price | money  | remove: '.00'}}</h5>
                </div>

              </div>
            </div>

          </div>
        </div> <!-- end cart-row //-->

        {% endfor %}
      </div>

      <div class="grid-uniform">
        
        <div class="grid-item cart-row basket-add-curse">
          <div class="grid-item large--one-half">
            <h3>Add a curse to your order</h3>
            <p>Your purchase can be cursed by our resident coven of witches. A perfect surprise for that special monster in your life.</p>
            <p>Curses provide a donation to the <a href="http://www.ministryofstories.org" class="js-mos-info">Ministry of Stories</a>, a creative writing and mentoring charity for young humans.</p>
          </div>
          <div class="grid-item large--one-half curse-options-container">
            <div class="grid-uniform">
              <div class="grid-item large--three-fifths medium--one-half">
                <ul class="curse-options">
                    <li><input type="checkbox" id="cb1" value="none" /><label for="cb1" class="checkbox-label">No thank you - £0</label></li>
                    <li><input type="checkbox" id="cb2" value="bad_luck" /><label for="cb2" class="checkbox-label">Bad luck - £1</label></li>
                    <li><input type="checkbox" id="cb3" value="torment" /><label for="cb3" class="checkbox-label">General torment - £5</label></li> 
                    <li><input type="checkbox" id="cb4" value="blight" /><label for="cb4" class="checkbox-label">Extended blight - £10</label></li> 
                </ul>
              </div>
              <div class="grid-item large--two-fifths medium--one-half">
                <h5 class="product-cost">£0</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="cart-row grid-item">
          <div class="grid-item text-right">

            <h5>Subtotal <em>{{ cart.total_price | money }}</em></h5>

            {% comment %}
              name="update" is required for the update button to work
            {% endcomment %}
            <input type="submit" name="update" class="btn-secondary" value="Update cart">

            {% comment %}
              name="checkout" is required for the update button to work
            {% endcomment %}
            <input type="submit" name="checkout" class="btn" value="Check out">

            {% comment %}
              Paypal and Google checkout buttons
            {% endcomment %}
            {% if additional_checkout_buttons %}
              <p>{{ content_for_additional_checkout_buttons }}</p>
            {% endif %}

          </div>

        </div>

      </div>

    </form>

  {% else %}

    {% comment %}
      It's likely people won't have items in the cart sometimes.
      Do something fun here, it's a great chance to show your company's human side.
    {% endcomment %}

    <h4>It appears that your cart is currently empty!</h4>
    <p>You can continue browsing <a href="/collections/all">here</a>.</p>

  {% endif %}

</main>