{% comment %}
  Find all featured items for the carousel - these are either products with images that include alt text with the word 'carousel'
  or blog posts in the featured category
{% endcomment %}

<main class="wrapper main-content" role="main">

  <div class="grid-uniform">
    <div class="grid-item">
    {% capture message_size %}{{ settings.homepage_message | size }}{% endcapture %}
      {% if message_size != '0' %}
        <div class="postage-promo-banner secondary-font no-bottom-margin">
          {{ settings.homepage_message }}
        </div>
      {% endif %}
      <div class="carousel-holder carousel-home">
        <div class="carousel-navigation">
          <div class="arrow-left"><a class="arrow-left-link" href=""><img src="{{ 'arrow-left.png' | asset_url }}" alt="previous image"></a></div>
          <div class="arrow-right"><a class="arrow-right-link" href=""><img src="{{ 'arrow-right.png' | asset_url }}" alt="next image"></a></div>
        </div>

        <div class="feature-carousel js-arrow-carousel no-bottom-margin">

          {% for product in collections.carousel.all_products %}
            {% assign has_carousel = false %}
            {% assign product_url = '' %}
            {% for collection in product.collections %}
              {% if collection.handle != 'carousel' and product_url == '' %}
                {% assign product_url = '/collections/' | append: collection.handle | append: product.url %}
              {% endif %}
            {% endfor %}
            {% for image in product.images %}
              {% if image.alt contains 'desktop_carousel' %}
                {% assign desktop_image_url = image | product_img_url: 'master' %}
                {% assign has_carousel = true %}
              {% endif %}
              {% if image.alt contains 'mobile_carousel' %}
                {% assign mobile_image_url = image | product_img_url: 'master' %}
                {% assign has_carousel = true %}
              {% endif %}
            {% endfor %}

            {% if has_carousel == true %}
              <div class="carousel-item">
                <img src="{{ mobile_image_url }}" alt="carousel image" data-desktop-image="{{ desktop_image_url }}">
                <div class="carousel-copy">
                  <h3>{{ product.title }}</h3>
                  <p>{{ product.metafields.custom_fields.summary }}</p>
                  <a href="{{ product_url }}"><button class='btn btn-black'>Buy now</button></a>
                </div>
              </div>
            {% endif %}

          {% endfor %}

          {% for item in blogs.featured.articles %}
            {% assign images_content = item.excerpt | remove: '<img src="' %}
            {% assign images = images_content | split: '">' %}
            <div class="carousel-item">
              <img src="{{ images[1] }}" alt="carousel image" data-desktop-image="{{ images[0] }}">
              <div class="carousel-copy">
                <h3>{{ item.title }}</h3>
                <p>{{ item.content }}</p>
                <a href="{{ item.metafields.custom_fields.link_target }}"><button class='btn btn-black'>{{ item.metafields.custom_fields.link_label }}</button></a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="mos-promo">
        <p>Due to a rather inconvenient curse, all profits go to the <a href="http://www.ministryofstories.org" class="js-mos-info">Ministry of Stories</a>, a creative writing and mentoring charity for young humans</p>
      </div>
    </div>
  </div>

  <div class="side-padding frontpage-collection">
    <h2 class="text-center">Most craved this week</h2>
    <div class="grid-uniform">
      {% for product in collections.featured.products limit:4 %}

        {% include 'product-grid-item' %}

      {% endfor %}
    </div>
  </div>

  <div class="grid-uniform">
    <div class="grid-item no-bottom-margin">
      <div class="about-shop-promo">
        <div class="panel-sub-title">
          <h3>Service with a snarl</h3>
          <p>~ Since 1818 ~</p>
        </div>
        <a href="{{ pages.about-us.url }}"><button class='btn btn-secondary'>Find out more about our shop</button></a>
        <div class="panel panel-black">
          <p>London’s oldest supplier of goods for the living, dead and undead now delivers to monsters right across the UK.<br/>
          We were recently voted 'No. 1 Kids' Shop in London' by Time Out Magazine. Which is strange, as we're evidently a shop for monsters.</p>
          <p>
            <a class="map-link" href="https://www.google.co.uk/maps/place/Ministry+of+Stories+and+Hoxton+Street+Monster+Supplies/@51.5314205,-0.0803399,17z/data=!4m2!3m1!1s0x0:0x4d51907375032c33?hl=en" target="_blank">159 Hoxton Street, London N1 6PJ</a>
          </p>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="delivery-promo secondary-font grid-item">
        <p>Free UK delivery on orders over &pound;50</p>
      </div>
    </div>
  </div>

  <div class="side-padding">
    <h2 class="text-center">Collections</h2>

    <div class="collection-list grid-uniform">

      {% for collection in collections %}

          {% unless (collection.handle == 'featured' or collection.handle == 'curses' or collection.handle == 'extra' or collection.handle == 'carousel' or collection.handle == 'delivery' %}
            {% include 'collection-grid-item' %}
          {% endunless %}

      {% endfor %}

    </div>
  </div>
</main>