<main class="wrapper main-content" role="main">
  
  <div class=" full-width">
    <header class="page-header">
      <h2>{{ page.title }}</h2>
    </header>
  </div>

  <div class="grid-uniform side-padding">

    <div class="grid-item large--three-fifths push--large--one-fifth">

      <div class="rte font-size-18 text-center">
        {{ page.content }}
      </div>

    </div>
  </div>

  <div class="grid-uniform about-carousel-holder">
    <div class="carousel-holder">
      
      <div class="grid-item feature-carousel about-carousel js-arrow-carousel">
        
        <div class="carousel-item">
          <img src="{{ "about_1_m.jpg" | asset_url }}" alt="London’s oldest supplier of goods for the Living, Dead and Undead" data-desktop-image="{{ "about_1.jpg" | asset_url }}">
          <div class="carousel-copy">
            <div class="arrow-left"><a class="arrow-left-link" href=""><img src="{{ 'arrow-white-left.png' | asset_url }}" alt="previous image"></a></div>
            <span>
              <p>London’s oldest supplier of goods for the Living, Dead and Undead</p>
            </span>
            <div class="arrow-right"><a class="arrow-right-link" href=""><img src="{{ 'arrow-white-right.png' | asset_url }}" alt="next image"></a></div>
          </div>
        </div>

        <div class="carousel-item">
          <img src="{{ "about_2_m.jpg" | asset_url }}" alt="We are officially licensed by the appropriate authorities" data-desktop-image="{{ "about_2.jpg" | asset_url }}">
          <div class="carousel-copy">
            <div class="arrow-left"><a class="arrow-left-link" href=""><img src="{{ 'arrow-white-left.png' | asset_url }}" alt="previous image"></a></div>
            <span>
              <p>We are officially licensed by the appropriate authorities</p>
            </span>
            <div class="arrow-right"><a class="arrow-right-link" href=""><img src="{{ 'arrow-white-right.png' | asset_url }}" alt="next image"></a></div>
          </div>
        </div>

        <div class="carousel-item">
          <img src="{{ "about_3_m.jpg" | asset_url }}" alt="Step inside to see our full range of supplies" data-desktop-image="{{ "about_3.jpg" | asset_url }}">
          <div class="carousel-copy">
            <div class="arrow-left"><a class="arrow-left-link" href=""><img src="{{ 'arrow-white-left.png' | asset_url }}" alt="previous image"></a></div>
            <span>
              <p>Step inside to see our full range of supplies</p>
            </span>
            <div class="arrow-right"><a class="arrow-right-link" href=""><img src="{{ 'arrow-white-right.png' | asset_url }}" alt="next image"></a></div>
          </div>
        </div>

        <div class="carousel-item">
          <img src="{{ "about_4_m.jpg" | asset_url }}" alt="One of our invisible customers, obviously having a wonderful time!" data-desktop-image="{{ "about_4.jpg" | asset_url }}">
          <div class="carousel-copy">
            <div class="arrow-left"><a class="arrow-left-link" href=""><img src="{{ 'arrow-white-left.png' | asset_url }}" alt="previous image"></a></div>
            <span>
              <p>One of our invisible customers, obviously having a wonderful time!</p>
            </span>
            <div class="arrow-right"><a class="arrow-right-link" href=""><img src="{{ 'arrow-white-right.png' | asset_url }}" alt="next image"></a></div>
          </div>
        </div>

        <div class="carousel-item">
          <img src="{{ "about_5_m.jpg" | asset_url }}" alt="Some of our more exclusive products take a while to produce" data-desktop-image="{{ "about_5.jpg" | asset_url }}">
          <div class="carousel-copy">
            <div class="arrow-left"><a class="arrow-left-link" href=""><img src="{{ 'arrow-white-left.png' | asset_url }}" alt="previous image"></a></div>
            <span>
              <p>Some of our more exclusive products take a while to produce</p>
            </span>
            <div class="arrow-right"><a class="arrow-right-link" href=""><img src="{{ 'arrow-white-right.png' | asset_url }}" alt="next image"></a></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="grid-uniform side-padding">
    {% include 'contact-items' %}
  </div>

</main>
{% include 'mos-promo' %}