<main class="wrapper main-content" role="main">
  
  <div class="full-width">
    <header class="page-header">
      <h2>{{ page.title }}</h2>
    </header>
  </div>

  <div class="grid-uniform volunteer-content-holder">
    <div class="grid-item large--two-fifths volunteer-content border-right">

      
      <div class="rte">
        {{ page.content }}
      </div>

    </div>

    <div class="grid-item large--three-fifths volunteer-image-holder">
      <div class="carousel-holder">
        
        
        <div class="grid-item feature-carousel volunteer-carousel js-arrow-carousel">
          
          <div class="carousel-item">
            <img src="{{ "volunteer_charlotte.jpg" | asset_url }}" alt="volunteer - Charlotte">
            <div class="carousel-copy">
              <div class="arrow-left"><a href=""><img src="{{ 'arrow-left.png' | asset_url }}" alt="previous image"></a></div>
              <span>
                <h2>Charlotte</h2>
                <p>‘I like working at Hoxton Street Monster Supplies because you get the chance to work for wonderful people and there’s an element of theatre involved.’</p>
              </span>
              <div class="arrow-right"><a href=""><img src="{{ 'arrow-right.png' | asset_url }}" alt="next image"></a></div>
            </div>
          </div>

          <div class="carousel-item">
            <img src="{{ "volunteer_hodan.jpg" | asset_url }}" alt="volunteer - Hodan">
            <div class="carousel-copy">
              <div class="arrow-left"><a href=""><img src="{{ 'arrow-left.png' | asset_url }}" alt="previous image"></a></div>
              <span>
                <h2>Hodan</h2>
                <p>‘I think volunteering gives good experience and practice with English. When customers come you can explain what we do. It’s a nice place you can come volunteer and friendly.’</p>
              </span>
              <div class="arrow-right"><a href=""><img src="{{ 'arrow-right.png' | asset_url }}" alt="next image"></a></div>
            </div>
          </div>

          <div class="carousel-item">
            <img src="{{ "volunteer_grace.jpg" | asset_url }}" alt="volunteer - Grace">
            <div class="carousel-copy">
              <div class="arrow-left"><a href=""><img src="{{ 'arrow-left.png' | asset_url }}" alt="previous image"></a></div>
              <span>
                <h2>Grace</h2>
                <p>‘I love coming here because it’s fun to pretend for a few hours that you live in a world where monsters are real.’ (Someone really needs to tell Grace…)</p>
              </span>
              <div class="arrow-right"><a href=""><img src="{{ 'arrow-right.png' | asset_url }}" alt="next image"></a></div>
            </div>
          </div>

          <div class="carousel-item">
            <img src="{{ "volunteer_adrienne.jpg" | asset_url }}" alt="volunteer - Adrienne">
            <div class="carousel-copy">
              <div class="arrow-left"><a href=""><img src="{{ 'arrow-left.png' | asset_url }}" alt="previous image"></a></div>
              <span>
                <h2>Adrienne</h2>
                <p>‘I love showing kids the monster lost-and-found cabinet. They are always so amazed by the cyclops spectacles and horn warmers; if the original owners come back to retrieve them, I'm not sure I'll give them back.’</p>
              </span>
              <div class="arrow-right"><a href=""><img src="{{ 'arrow-right.png' | asset_url }}" alt="next image"></a></div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</main>
{% include 'mos-promo' %}