<main class="wrapper main-content" role="main">
  
  <div class=" full-width">
    <header class="page-header">
      <h2>{{ page.title }}</h2>
    </header>
  </div>

  <div class="grid-uniform side-padding">

    <div class="grid-item large--two-thirds push--large--one-sixth">

      <div class="rte">
        {{ page.content }}
      </div>

    </div>
  </div>

  <div class="grid-uniform about-carousel-holder">
    <div class="carousel-holder">
      <div class="about-panel-holder">
        <div class="panel-sub-title">
          <h3>Service with a snarl</h3>
          <p>~ Since 1818 ~</p>
        </div>
      </div>
      
      <div class="grid-item feature-carousel about-carousel arrow-carousel">
        
        <div class="carousel-item">
          <img src="{{ "about-us-1-mobile.jpg" | asset_url }}" alt="about image 1" data-desktop-image="{{ "about-us-1.jpg" | asset_url }}">
          <div class="carousel-copy">
            <div class="arrow-left"><a href=""><img src="{{ 'arrow-white-left.png' | asset_url }}" alt="previous image"></a></div>
            <span>
              <p>Some copy about this image here with at least two lines of text occupying this space.</p>
            </span>
            <div class="arrow-right"><a href=""><img src="{{ 'arrow-white-right.png' | asset_url }}" alt="next image"></a></div>
          </div>
        </div>

        <div class="carousel-item">
          <img src="{{ "about-us-1-mobile.jpg" | asset_url }}" alt="about image 1" data-desktop-image="{{ "about-us-1.jpg" | asset_url }}">
          <div class="carousel-copy">
            <div class="arrow-left"><a href=""><img src="{{ 'arrow-white-left.png' | asset_url }}" alt="previous image"></a></div>
            <span>
              <p>The second image</p>
            </span>
            <div class="arrow-right"><a href=""><img src="{{ 'arrow-white-right.png' | asset_url }}" alt="next image"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-uniform side-padding">
    {% include 'contact-items' %}
  </div>



</main>