{% include 'product-meta' %}

<main class="wrapper main-content" role="main">
  {% comment %}

    Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
    and allow search engines to easily understand what the content is.

    For more information on these Scheme.org tags, visit:
      - http://schema.org/docs/gs.html

  {% endcomment %}

  <div itemscope itemtype="http://schema.org/Product">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">

    <div class="grid-uniform">
      <div class="grid-item large--one-half no-bottom-margin">

        {% comment %}
          If we only have one product image, show a large version of it.
          If we have more than 1, show it then loop through the rest as thumbnails.
        {% endcomment %}
        {% assign meta_has_rollover = product.metafields.custom_fields.has_rollover %}
        {% assign num_images = 0 %}
        {% for image in product.images %}
          {% unless image.alt contains 'carousel' %}
            {% assign num_images = num_images | plus: 1 %}
          {% endunless %}
        {% endfor %}
        {% if num_images == 1 %}

          <div class="product-photo-container">
            <img src="{{ product.images[0].src | product_img_url: 'grande' }}" alt="{{ product.images[0].alt }}">
          </div>

        {% else %}

          <div class="carousel-holder">
            {% if is_new %}
              <div class="roundel secondary-font">NEW</div>
            {% endif %}
            {% if sold_out %}
            <div class="stripe-holder"><div class="stripe secondary-font">Sold Out</div></div>
            {% endif %}
            <div class="carousel-navigation">
              <div class="arrow-left"><a class="arrow-left-link" href=""><img src="{{ 'arrow-left.png' | asset_url }}" alt="previous image"></a></div>
              <div class="arrow-right"><a class="arrow-right-link" href=""><img src="{{ 'arrow-right.png' | asset_url }}" alt="next image"></a></div>
            </div>
            <div class="product-carousel js-arrow-carousel">
              {% for image in product.images %}
                {% unless image.alt contains 'carousel' %}
                  <div class="carousel-item">
                    <img src="{{ image.src | product_img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
                  </div>
                {% endunless %}
              {% endfor %}
            </div>
          </div>
          <div class="product-thumbs">
            {% for image in product.images %}
              {% unless image.alt contains 'carousel' %}
                <div class="product-thumb js-carousel-thumb {% if forloop.index == 1 %} product-selected {% endif %}">
                  <img src="{{ image.src | product_img_url: 'small' }}" alt="{{ image.alt | escape }}">
                </div>
              {% endunless %}
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="grid-item large--one-half no-bottom-margin">

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          {% if product.metafields.custom_fields.product_banner_text %}
            <div class="product-offer secondary-font">{{ product.metafields.custom_fields.product_banner_text }}</div>
          {% endif %}

          <div class="product-detail">

            <h2 itemprop="name">{{ product.title }}</h2>

            {% if product.available %}
              <link itemprop="availability" href="http://schema.org/InStock">
            {% else %}
              <link itemprop="availability" href="http://schema.org/OutOfStock">
            {% endif %}

            {% comment %}
              ID addToCartForm is a selector for the ajaxify cart plugin
            {% endcomment %}
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">

              {% comment %}
                Add product variants as a dropdown.
                  - By default, each variant (or combination of variants) will display as its own <option>
                  - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

                You can leverage jQuery to add a callback on page load and each time the select element changes:
                  - Include option_selection.js (as seen at the bottom of this file)
                  - This allows you to use JavaScript anytime the variant dropdown changes
                  - This also separates out your variant options (ie. size, color, etc.) to separate select elements

                For more information on products with multiple options, visit:
                  - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid

              {% endcomment %}

              <div class="product-description rte" itemprop="description">
                {{ product.description }}
              </div>
              <select name="id" id="productSelect" class="display:none;">
                {% for variant in product.variants %}
                  {% if variant.available %}

                    {% comment %}
                      Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                    {% endcomment %}
                    <option value="{{variant.id}}">
                      {{ variant.title }} - {{ variant.price | money_with_currency }}
                    </option>

                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - Sold out
                    </option>
                  {% endif %}
                {% endfor %}
              </select>
              <div class="price-quantity-elements">
                <h3 class="product-price-amount">
                  <span id="productPrice" itemprop="price">
                    {{ product.price | money | remove: '.00'}}
                  </span>
                </h3>
                <span class="subtract-product"></span>
                <input min="1" type="text" id="quantity" name="quantity" class="no-border-number" value="1">
                <span class="add-product"></span>
                <input type="submit" name="add" class="btn button-add" id="addToCart" value="Add to Casket">
              </div>
              <div class="sold-out-message">
              {% if sold_out %}
                {% if product.metafields.custom_fields.partner_site_urls %}
                  {% assign links = product.metafields.custom_fields.partner_site_urls | split: ',' %}
                  <p>Unfortunately, this product isn't available to buy on our site.<br/>However, you can buy it on our partner sites.</p>
                  {% for link in links %}
                    {% if link contains 'firebox' %}
                      <a href="{{ link }}" class="btn">Buy on firebox.com</a><br/>
                    {% endif %}
                    {% if link contains 'liberty' %}
                      <a href="{{ link }}" class="btn">Buy on liberty.co.uk</a><br/>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <p>Curses, we've sold out of this product.<br/>Our zombie helpers have ordered some more so check back soon.</p>
                {% endif %}
              {% endif %}
              </div>
            </form>

            <div class="delivery-info">
              Free UK delivery on orders over £50 - <a href="#" class="js-delivery-info">Delivery and returns information</a>
            </div>

            <div class="social product-share">
              <div class="facebook-button social-button">
                <div class="fb-like" data-layout="button" data-action="like" data-show-faces="false"></div>
              </div>
              <div class="twitter-button social-button left-margin-button">
                <a class="twitter-share-button" data-count="none" href="https://twitter.com/share">Tweet</a>
              </div>
              <div class="pinterest-button social-button left-margin-button">
                <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
              </div>
            </div>

            <div class="ministry-profit-message">
              <p class="profit-text">All profits go to the <a href="#" class="js-mos-info">Ministry of Stories</a>, a creative writing charity for humans</a>
            </div>

          </div>
        </div>
      </div>
      <!-- end row -->
      <div class="grid-item large--one-half">
        {% if product.metafields.custom_fields.notes_for_humans or product.metafields.custom_fields.notes_for_humans_detail %}
          <div class="product-notes">
            <h3>Notes for Humans:</h3>
            <p>
              {{ product.metafields.custom_fields.notes_for_humans }}
            </p>
            <div class="product-more-info">
              {{ product.metafields.custom_fields.notes_for_humans_detail }}
            </div>
          </div>
        {% endif %}
        {% if product.metafields.custom_fields.product_quote %}
        <div class="product-quote">
          <p class="quote-text">‘{{ product.metafields.custom_fields.product_quote }}’</p>
          <p class="quote-author">-{{ product.metafields.custom_fields.product_quote_author }}</p>
        </div>
        {% endif %}
      </div>
      <div class="grid-item large--one-half">
        <div class="collection-items top-line">
          {% if collection == blank %}
            {% assign collection = product.collections.last %}
          {% endif %}
          {% assign collection_title = collection.title %}
          {% assign current_product = product %}

          {% if collection.handle == 'view-all' %}
            {% assign collection_title = 'complete' %}
          {% endif %}

          <h3>More from the {{ collection_title }} range</h3>
          <div class="grid-uniform">
            {% assign counter = 0 %}
            {% for product in collection.products limit:7 %}
              {% unless product.handle == current_product.handle or counter > 5 %}
                {% include 'product-grid-item-small' %}
                {% assign counter = counter | plus: 1 %}
              {% endunless %}
            {% endfor %}
          </div>
        </div>
        <div class="collection-items top-line no-bottom-margin">
          <h3>Other monsters also bought</h3>
            {% include 'related-products' %}
        </div>
      </div>
    </div>

  </div>

</main>

<div class="postage-promo-banner secondary-font no-bottom-margin">
  Free UK delivery on all orders over £50
</div>
