{% assign current_url = '' %}

{% case template %}
  {% when 'index' %}
    {% assign current_url = '/' %}
  {% when 'page' %}
    {% assign current_url = page.url %}
  {% when 'blog' %}
    {% assign current_url = blog.url %}
  {% when 'article' %}
    {% assign current_url = blog.url %}
  {% when 'collection' %}
    {% assign current_url = collection.url %}
  {% when 'product' %}
    {% assign current_url = product.url %}
{% endcase %}

{% assign cart_count = 0 %}

{% for item in cart.items %}
  {% unless item.product.type == "curse" or item.product.type == "delivery" %}
    {% assign cart_count = cart_count | plus:1  %}
    {{ cart_count }}
  {% endunless %}
{% endfor %}



<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ================================================== -->
  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-card' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width">
  <!-- Fonts ================================================ -->
  <link href='https://fonts.googleapis.com/css?family=Lato:300|Crimson+Text:400,600' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" />

  <!-- CSS ================================================== -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <script>
    window.Monsters = {
      isDesktop: function() { return (document.documentElement.clientWidth >= 480); },
      isMobile: function() { return !Monsters.isDesktop(); },
      isTouch: function() { return Modernizr.touch; },
    };
  </script>

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <div class="container">
    <div id="fb-root"></div>
    <div class="translation-bar">
      <span class="desktop-only">This page has been </span><span class="mobile-capitalise-first">automatically</span><span> translated for </span>
      <span class="selected-language">humans</span>
      <div class="burger-trigger"></div>
      <div class="translation-options">
        <ul>
          <li><a href="#" data-url="{{ current_url }}?lang=humans">Humans</a></li>
          <li><a href="#" data-url="{{ current_url }}?lang=mummies">Mummies</a></li>
          <li><a href="#" data-url="{{ current_url }}?lang=vampire-bats">Vampire Bats</a></li>
          <li><a href="#" data-url="{{ current_url }}?lang=werewolves">Werewolves</a></li>
          <li><a href="#" data-url="{{ current_url }}?lang=zombies">Zombies</a></li>
        </ul>
      </div>
    </div>
    <header class="site-header side-padding" role="banner">
      <div class="wrapper">
        <div  class="header-logo"><h1><a class="js-logo" href="/"></a></h1></div>

        <div class="large--text-right header-links">
          <p>
            <div class="nav-search">
              {% include 'search-bar' %}
            </div>
            <a href="/cart" class="basket-link" id="cartToggle">
              Casket (<span id="cartCount">{{ cart_count }}</span>)
            </a>
          </p>
        </div>

      </div>
    </header>

    <nav class="nav-bar" role="navigation">
      <div class="wrapper">
        {% include 'site-nav' %}
      </div>
    </nav>

    {{ content_for_layout }}

    {% include 'footer' %}

    {% include 'overlays' %}

  </div>
  
  {% if template contains 'product' %}
    {% include 'product.js' %}
  {% endif %}

  {{ 'owl.carousel.min.js' | asset_url | script_tag }}
  {{ 'jquery.ba-throttle-debounce.min.js' | asset_url | script_tag }}
  {{ 'utils.js' | asset_url | script_tag }}
  {{ 'shop.js' | asset_url | script_tag }}

  {% comment %}
    Social plugin scripts
  {% endcomment %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-25790636-1', 'auto');
    ga('send', 'pageview');

  </script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

  <script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1589480441287911&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://apis.google.com/js/platform.js" async defer>
    {lang: 'en-GB'}
  </script>

  <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
  
  {% include 'ajaxify.js' %}


</body>
</html>